body {
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: #F4F4F4;
}

.header {
  padding-bottom: 20px;
}

.header .links a {
    color: #CCCCCC;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-left: 60px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.header .links a:hover {
    color: #EB3349;
    background-color: #F4F4F4;
}

.header .links .active {
    color: #EB3349;
}

.navbar-brand {
    padding: 0;
}

.hero {
    padding-top: 70px;
}
.hero h1 {
    font-size: 30px;
    color: #EB3349;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;

}
.social-icons > li {
    margin-top: 20px;
    margin-left: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-icons > li:hover {
    transform: scale(0.9)
}

.social-icons > li:first-child {
    margin-left: 0;
}

.social-icons > li:last-child {
    margin-right: 0;
}


.hero p {
    color: #A2A2A2;
    font-size: 18px;
    font-family: 'Droid Serif', serif;
}

.btn {
    background: #EB3349;
    box-shadow: 0px 3px 0px 0px #C82336;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.hero .btn {
    margin-top: 20px;
}

.btn:hover {
    background: #D9253B;
    color: #fff;
}

.services > div {
    margin-top: 120px;
}

.services > div > h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #EB3349;
    margin-top: 15px;
}

.services > div > p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    color: #828282;
    line-height: 22px;
}

.tech-lead {
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.tech-lead > div > h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #EB3349;
    margin-bottom: 5px;
}

.tech-lead > div > p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    color: #949494;
}

.tech-lead > div > .btn {
    margin-top: 10px;
}

.tech-lead .pitch-container {
    text-align: left;
}
.tech-lead .tell-me-more-container {
    text-align: right;
}

.footer {
  margin-top: 120px;
}
.footer a {
    /* ABOUT: */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #CCCCCC;
    font-weight: 600;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #EB3349;
    text-decoration: none;
}

.footer .active {
    color:  #EB3349;
}

.footer  li {
    margin-left: 60px;
}

.footer  li:first-child {
    margin-left: 0;
}

.footer  li:last-child {
    margin-right: 0;
}
.footer p {
    margin-top: 30px;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    color: #DBDBDB;
    line-height: 21px;
}

.footer .license {
    margin-top: 50px;
    font-family: 'Droid Serif', serif;
    color: #DBDBDB;
    font-size: 10px;
}
.footer .license img {
    margin-bottom: 10px;
}
.footer .license a {
    font-family: 'Droid Serif', serif;
    font-size: 10px;
}


@media (max-width: 768px) {

    body {
      padding-top: 50px;
      padding-bottom: 20px;
      background-color: #F4F4F4;
    }

    .hero {
        padding-top: 0px;
    }

    .header {
        text-align: right;
    }
    .social-icons > li {
        margin-top: 20px;
        margin-left: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .services > div {
        margin-top: 60px;
    }

    .tech-lead {
        margin-top: 60px;

        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }


    .tech-lead .pitch-container {
        text-align: center;
    }
    .tech-lead .tell-me-more-container {
        text-align: center;
    }

    .tech-lead > div > .btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .footer {
      margin-top: 80px;
    }

}


.bg-image {
  width:100%;
  height:230px;
  margin-top: 80px;
  background-size: cover;
}

.about-image {
    background-image:url('/images/about.jpg');

}

.blog-image {
    background-image:url('/images/blog.jpg');
}

.about {
    padding-top: 70px;
}

.about h1 {
    font-size: 30px;
    color: #EB3349;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;

}
.about p a {
    color: #EB3349;
}
.about p {
    color: #A2A2A2;
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    text-align: justify;
    line-height: 27px;
    margin-bottom: 20px;
}
.about .btn {
    margin-top: 50px;
}

.blog-posts {
    margin-top: 90px;
}

.blog-posts a {
    color: #EB3349;
}
.post {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E0E0;
}
.post h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #EB3349;
    line-height: 31px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #CCCCCC;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.post p {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #A2A2A2;
    line-height: 27px;
}

.more-posts {
    text-align: right;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
