<div class="container">
  <div class="header clearfix">
    <nav>
      <a class="navbar-brand" href="/">
        <img alt="Thanos Theodoridis" src="/images/logo.png">
      </a>
      <ul class="nav navbar-nav pull-right links">
        <li class="navbar-link"><a
          href="/"
          class="{% if page.path contains 'index'%}active{% endif %}">HOME</a></li>
        <li class="navbar-link"><a
          href="/about/"
          class="{% if page.path contains 'about'%}active{% endif %}">ABOUT</a></li>
        <li class="navbar-link"><a
          href="/blog/"
          class="{% if page.path contains 'blog'%}active{% endif %}">BLOG</a></li>
      </ul>
    </nav>

  </div>
</div>