---
layout: default
title: About - Thanos Theodoridis - Software Engineer
description: Hello. I am Thanos. Node.js, Angular and iOS hacker. UX/UI Designer. Generalist, full-stack, real deal. I like startups, beer and women.
---

<div class="bg-image blog-image"></div>

<div class="container">
  <div class="row hello">
    <div class="col-md-8 col-md-offset-2">
      <div class="about text-center">
        <img alt="Thanos Theodoridis" src="/images/profile_pic.png">

        <h1>About me</h1>
        <!--<p>Hey there, stranger. I am Athanasios “Thanos” Theodoridis and I live in the quiet and beautiful city of <a target="_blank" href="http://en.wikipedia.org/wiki/Thessaloniki">Thessaloniki, Greece</a>. </p>
        <p>I have an Electrical and Computer Engineering degree from <a target="_blank" href="http://www.inf.uth.gr/?lang=en">University of Thessaly</a> and a masters on Engineering Management from <a target="_blank" href="http://www.econ.ihu.edu.gr/">International Hellenic University</a>. I am also a proud alumni of <a target="_blank" href="http://www.anatolia.edu.gr/cms.jsp">Anatolia College High School</a>.</p>
        <p>I have been professionally involved with software development since 2009, having developed various iOS and web applications and designed a dozen few others. My clients ranged from non-technical business people, to local startups, to TechStars-alumni companies in Sillicon Valley. Feel free to <a href="mailto:at@atworks.gr?subject=Hello,%20send%20me%20some%20references">reach out</a> for references.</p>
        <p>The tools in my arsenal include but are not limited to <a target="_blank" href="https://atom.io/">Atom</a>, <a target="_blank" href="https://developer.apple.com/xcode/">XCode</a> and <a target="_blank" href="http://bohemiancoding.com/sketch/">Sketch</a>. I feel very comfortable working with <a target="_blank" href="https://nodejs.org/">Node.js</a> and <a href="http://expressjs.com">Express</a>, <a target="_blank" href="https://angularjs.org/">Angular</a>,  and <a target="_blank" href="https://developer.apple.com/swift/blog/">Swift</a>. I am always up to date with the industry’s best practices and constantly in the look of optimizing my workflows. I thrive in competitive and challenging environments, have a sick attention to detail and can learn and adapt rapidly.</p>
        <p>Born and raised in a highly entrepreneurial family, I’ve started a few startups and will probably start a few more. When not working with technology, you’ll find me hitting the slopes with my skis, exchanging tennis balls in a court or rocking some blues-rock on my guitar. In between, I’ll probably be reading some books or backtesting some strategies related to money instruments trading.</p>
        <p>You can always ping me on <a target="_blank" href="https://twitter.com/attheodo">Twitter</a>, <a href="mailto:at@atworks.gr?subject=Hello!">Email</a> or <a href="skype:theodoridis.thanos?chat">Skype</a>, check out more around my career on <a target="_blank" href="https://www.linkedin.com/in/attheodo">LinkedIn</a> or fork of <a target="_blank" href="https://github.com/attheodo">my code</a> on GitHub. </p>
    -->
        {{ content }}
        <a class="btn btn-default btn-lg" href="mailto:at@atworks.gr?subject=Hello!%20Let's%20discuss%20a%20project"
           role="button">Hire me for your next project</a>

      </div>
    </div>
  </div>
</div>