---
layout: default
title: About - Thanos Theodoridis - Senior Technology Consultant
active: about
quote: Always do your best. What you plant now, you will harvest later.
---

<div class="bg-image about-image"></div>

<div class="container">
  <div class="row hello">
    <div class="col-md-8 col-md-offset-2">
      <div class="about text-center">
        <img alt="Thanos Theodoridis" src="/images/profile_pic.png">

        <h1>About me</h1>
        
        {{ content }}
        <a class="btn btn-default btn-lg" href="mailto:at@atworks.gr?subject=Hello!%20Let's%20discuss%20a%20project"
           role="button">Hire me for your next project</a>

      </div>
    </div>
  </div>
</div>
