---
layout: default
---

<h1 class="flex gap-2 text-2xl font-extrabold text-gray-500">
  <span class="text-brand-500">#</span><span>Writing</span>
</h1>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date:
'%Y'" %} {% for year in posts_by_year %}
<section>
  <h2 class="text-gray-400 text-lg underline underline-offset-4 font-medium py-4">
    {{ year.name }}
  </h2>
  <div class="space-y-2">
    {% for post in year.items %}
    <div class="flex gap-2 items-start">
      <time class="shrink-0 text-gray-300 text-sm"
        >{{ post.date | date: "%b·%d" }}</time
      >
      <a href="{{ post.url }}" class="blog-link">{{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
</section>
{% endfor %}
