---
layout: default
title: Blog - Thanos Theodoridis - Senior Technology Consultant
description: Various thoughts on various matters. Opinions solely my own.
active: blog
---


<div class="bg-image blog-image"></div>

<div class="container">

  <div class="container blog-posts">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {% for post in site.posts limit: 5 %}
        <div class="post">
          <h1><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h1>

          <div class="post-timestamp">
            <time>{{ post.date | date: "%B %d %Y" }}</time>
          </div>
          {{ post.content | truncatewords: 40 }}

        </div>
        {% endfor %}

      </div>
    </div>
  </div>


</div>
