---
layout: default
---


<div class="bg-image blog-image"></div>

<div class="container">

  <div class="container blog-posts">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {% for post in site.posts limit: 5 %}
        <div class="post">
          <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>

          <h2>{{ post.date | date: "%B %d %Y" }}</h2>
          {{ post.content | truncatewords: 50 }}

        </div>
        {% endfor %}

      </div>
    </div>
  </div>


</div>

