---
layout: default
active: blog
quote: The currency of blogging is authenticity and trust.
---


<div class="bg-image" style="background-image: url(/images/posts/{{ page.post_image }})"></div>

<div class="container">

  <div class="back-to-posts-link">
    <a href="/blog/">← Back to posts</a>
  </div>

  <div class="container post">
    <div class="row hello">
      <div class="col-md-8 col-md-offset-2">
        <div class="title">
          {{ page.title }}
        </div>
        <div class="post-timestamp">
          <time datetime="{{page.date|date: \"%F\"}}">{{page.date|date:"%b %d, %Y"}}</time>
        </div>

        {% include share.html %}

        {{ content }}

        {% include share.html %}

      </div>
    </div>
  </div>
</div>
